{% extends 'targetpulse/base.html' %}
{% block title %}{{ board.title }} - TargetPulse{% endblock %}
{% block content %}
<h1>{{ board.title }}</h1>
<p class="board-description">{{ board.description }}</p>
{% if user.groups.first.name == "Manager" %}
    <a href="{% url 'add_member' board.id %}" class="btn btn-primary">Добавить участника</a>
{% endif %}
<a href="{% url 'task_create' board.id %}" class="btn btn-primary">Добавить задачу</a>

<div class="kanban-board">
    {% for status in statuses %}
        <div class="kanban-column">
            <h2>{{ status }}</h2>
            {% for task in board.tasks.all|dictsort:"status" %}
                {% if task.status == status %}
                    <div class="task-card">
                        <h3>{{ task.title }}</h3>
                        <p>{{ task.description|truncatewords:10 }}</p>
                        <p><strong>Приоритет:</strong> {{ task.priority }}</p>
                        <p><strong>Дедлайн:</strong> {{ task.deadline|default:"Нет" }}</p>
                        <p><strong>Назначено:</strong> {{ task.assigned_to|default:"Никому" }}</p>
                        <p><strong>Прогресс:</strong> {{ task.progress }}%</p>
                        <p><strong>Время:</strong> <span id="time-{{ task.id }}">{{ task.total_time|floatformat:2 }}</span> ч</p>
                        {% if user.groups.first.name == "Developer" and task.assigned_to == user %}
                            <button data-task-id="{{ task.id }}" class="timer-btn btn btn-secondary">Запустить таймер</button>
                        {% endif %}
                        <a href="{% url 'task_detail' task.id %}" class="btn btn-secondary">Подробно</a>
                        {% if user.groups.first.name == "Manager" or user == task.creator %}
                            <a href="{% url 'task_edit' task.id %}" class="btn btn-edit">Редактировать</a>
                            <a href="{% url 'task_delete' task.id %}" class="btn btn-delete">Удалить</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% empty %}
                <p class="empty-message">Нет задач в этом статусе.</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}